<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
 <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Cormorant Garamond' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
 
  
 {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/pratima.css' %}" />


<style>
  
  .pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857;
    color: #337AB7;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
	font-size:15px;
	font-weight:bold;
	
}







.clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 16px;
}

.clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

.clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 14px;
}
hr{
	 width: auto;
    margin: 0 10px;
	    border:1px  blue;
	
}
  </style>
</head>
<body>

			  <nav class="navbar navbar-custom "role="navigation" >
					  <div class="container  text-center">
					  <!--   header -->
						<div class="navbar-header" id="brand">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsenav">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								</button>
						  <a class="navbar-brand" href="/">
						 <!--   <img alt="Brand" src="..."> -->
						 Getmyvideo.Net....
						  </a>
						</div> 
						<!--   item -->

											<div class="collapse navbar-collapse " id="collapsenav" >
													<ul class="nav navbar-nav">
														<!-- MATH -->
															 <li class="dropdown">
																	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
																	<strong>Mathematics </strong><b class="caret"></b></a>
																		<ul class="dropdown-menu">
																		
																		  <li><a href="#">Multiplication Table</a></li>
																		  <li role="separator" class="divider"></li>    
																		  <li><a href="#">Series</a></li>

																		  <li role="separator" class="divider"></li>    
																		  <li class="waves-effect"><a href="#">Days n Work</a></li>
																		   <li role="separator" class="divider"></li>
																		  <li class="waves-effect"><a href="#">Profit n Loss</a></li>
																		   <li role="separator" class="divider"></li>
																		  <li><a href="#">Boat & Stream</a></li>
																		</ul>
															  </li>
															  
															  
															  <!-- REASONING -->
															  <li class="dropdown">
																	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
																	Reasoning <b class="caret"></b></a>
																		<ul class="dropdown-menu">
																		
																		  <li><a href="#">Blood Relation</a></li>
																		  <li role="separator" class="divider"></li>    
																		  <li><a href="#">Ranking and Direction</a></li>

																		  <li role="separator" class="divider"></li>    
																		  <li class="waves-effect"><a href="#">Coading Decoding</a></li>
																		   <li role="separator" class="divider"></li>
																		  <li class="waves-effect"><a href="#">Puzzle</a></li>
																		   <li role="separator" class="divider"></li>
																		  <li><a href="#">Input Output</a></li>
																		</ul>
															  </li>
															  
															  
															  <!-- english -->
															  <li class="dropdown">
																	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <b class="caret"></b></a>
																		<ul class="dropdown-menu">
																		
																		  <li><a href="#">Error Correction</a></li>
																		  <li role="separator" class="divider"></li>    
																		  <li><a href="#">Close Test</a></li>

																		  <li role="separator" class="divider"></li>    
																		  <li class="waves-effect"><a href="#">Fill in the blank</a></li>
																		   <li role="separator" class="divider"></li>
																		  <li class="waves-effect"><a href="#">Vocabulary</a></li>
																		   <li role="separator" class="divider"></li>
																		  <li><a href="#">Editorial</a></li>
																		</ul>
															  </li>
															  <!-- current affairs -->
															  <li class="dropdown">
																	<a href="/ca/1/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Current affairs <b class="caret"></b></a>
																		<ul class="dropdown-menu">
																		
																		  <li><a href="/ca/1">Daily Current Today</a></li>
																		  <li role="separator" class="divider"></li>    
																		  <li><a href="#">Static Gk</a></li>

																		  <li role="separator" class="divider"></li>    
																		  <li class="waves-effect"><a href="#">Banking Awerness</a></li>
																		  
																		</ul>
															  </li>
													  
													  </ul>
															<ul class="nav navbar-nav navbar-right">
																			
																			<li class="dropdown">
																					
																							
																											{% if user.is_authenticated %}
																											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <b class="caret"></b></a>
																											
														
																															<ul class="dropdown-menu">
																															<li><a href="/logout" >Logout</a></li>
																															 <li role="separator" class="divider"></li> 
																															<li><a href="/dashboard/{{ user.username }}"> Dash Board</a></li>
																															
																															
																															</ul>
																															
																														{% else %}
																														<a href="" data-toggle="modal" data-target="#myModal">
																														<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
																														   Log In<b class="caret"></b>
																														   </a>
																														
																														{% endif %} 
																														
																			</li>
															</ul>
											</div>
						
					  </div>
			</nav>
			
			
			
			
			
																												<div id="myModal" class="modal fade mod" role="dialog">
																									  <div class="modal-dialog ">

																										<!-- Modal content-->
																										<div class="modal-content"style="text-align:center">
																										<div class="modal-header modal-header-danger">
																										  <div class="modal-header">
																											<button type="button" class="close" data-dismiss="modal">&times;</button>
																											<h1 class="modal-title" style="color:#fff"><i class="glyphicon glyphicon-thumbs-up"></i>Sign In/Signup</h1>
																											</div>
																										  </div>
																										  <div class="modal-body"style="text-align:center">
																																																																																					
																																																																																					
																																																																																					<ul class="nav nav-tabs" style="text-align:center">
																																<li class="active" style="text-align:center"><a data-toggle="tab" href="#home">Sign In</a></li>
																																<li style="text-align:center"><a data-toggle="tab" href="#menu1">Registrations In</a></li>
																																
																															
																															  </ul>

																															  <div class="tab-content">
																																<div id="home" class="tab-pane fade in active">
																																  <h3>Sign In</h3>
																																																																																																																																														{% block content %}
																																																																																																																																														
																																			  <form method="post" id="login" action="" >
																																				
																																			
																																			   {% csrf_token %}
																																				{{ login.as_p }}
																																				<div id="below"></div>
																																				<button class="btn btn-success "  style="color:green"type="submit">Sign In</button>
																																			  </form>
																																				


																																</div>
																																<div id="menu1" class="tab-pane fade">
																																  <h3>Sign up</h3>
																																																																																																  
																																			  <form method="post" id="signup">
																																				
																																			  
																																			   {% csrf_token %}
																																				{{ form.as_p}}
																																				<button type="submit">Sign up</button></div>
																																			  </form>
																																			{% endblock %}
																																
																															
																																


																												</div>
																										  </div>
																										  <div class="modal-footer">
																											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																										  </div>
																										</div>

																									  </div>
																									</div>
			
			
			
			
			
			
			
			
	<!--   image start -->
					
					 	<div class="container">
				<div class="row">
					<div class="panel card">
					
					
										<div class="col-md-12 nopadding">
										<img src="{% static "/ch.jpg" %}" class="img-rounded" alt="Cinque Terre" width="100%" >
										<h3 class="card"style="text-align:center; color: #336699">English Vocabulary </h3>
										
										</div>
					 </div>
				</div>	</div> 
					 <!--   image end -->
					
					 
				<!-- belw slide -->
				
				
			<div class="container">
			
				<div class="row">
					<div class="panel card" >
					
					
					
					
						<div class="col-md-2 nopadding ">
						
							<div class="panel ">
							  <div class="panel-heading" style="background-color:#cc0000;"><h3 style="color:#ffffff;padding:0px"><u>Latest Notification</u><h3></div>
							  {{p}}
							  <div class="panel-body"><p><a href="https://www.w3schools.com/html/">Go to Currrent Affairs Section>></a></p></div>
							</div>
							
							
						<p><a href="#">Go to Currrent Affairs Section>></a></p>
						
						
						
						
						<div class="panel ">
							<div class="panel-heading" style="background-color:#cc0000;"><h3 style="color:#ffffff;padding:0px"><u>Current Affairs Category</u><h3></div>
								<div class="panel-body nopadding">
																			  <ul class="list-group">
																			  
																			  
													<a href="/current/Science_Techonlogy/1"><li class="list-group-item">	8 jun 2017</li></a>
													{% for list_day in list_day %}
													<li class="list-group-item">	<a  href="/english/word/{{list_day.day|date:'Y-m-d'}}/1"> {{list_day.day}}</a> </li>
													
													{% endfor  %}
													<li class="list-group-item">	<a style="font-size:16px;"href="/current/State/1">6 jun 2017</a> </li>
													<li class="list-group-item">	<a style="font-size:16px;" href="/current/International/1">5 jun 2017</a> </li>
													<li class="list-group-item">	<a  href="/current/Business_Economy_Banking/1"><b>5 jun 2017</b></a></li>
													<li class="list-group-item">	<a lass="pp" href="/current/Environment/1">4 jun 2017</a>  </li>
													
													
												  </ul>
										</div>
									</div>	
						</div>
						
						
						
						
						<div class="col-md-8 nopadding" style=" border: 1px solid #dddddd;">
				{% for close in close %}
									
										
										<div class="panel nonpadding ">
												
												<div class="panel-heading card">
										
																		
																		<h4>close pratice with timer<p class="bg-info"> <b><i>Question {{forloop.counter}}: </i></b></p>  </h4>
																		<div  style="font-family:'Roboto Condensed', sans-serif;font-size:17px;color:rgb(49, 103, 126);display:inline;line-height: 2.1;font-weight:bold">
																	{% autoescape off %}	{{close.question}} {% endautoescape %} </div>
															
																
															
												</div>
																													
														
														
														<hr></hr>
														
																	<div class="panel-body">
														<div id="closeclockdiv{{forloop.counter}}" class="clockdiv"style="text-align:center;margin-right:0;float:right;display:none">
  
															 
															<!--  <div>
																<span class="closeminutes"id="closeminutes"></span>
																<div class="smalltext">Minutes</div>
															  </div> 
															  -->
															  <div>
																<span class="seconds"id="closeseconds{{forloop.counter}}"></span>
																<div class="smalltext" id="closesmalltext{{forloop.counter}}">Seconds</div>
															  </div>
															</div>
																		
																		<button id="closetime{{forloop.counter}}" onClick="timer('closeclockdiv{{forloop.counter}}',{{close.time}},'res{{forloop.counter}}1','res{{forloop.counter}}2','res{{forloop.counter}}3','res{{forloop.counter}}4','res{{forloop.counter}}5','{{close.ans}}',closesolution{{forloop.counter}},'{{forloop.counter}}','css',5)"

																							
																						style="text-align:center; color: #fff;background-color:rgb(36, 172, 98);margin-right:0;float:right;display:inline-block;"  class="btn  btn-sm"
																						
																						
																						><i class="fa fa-clock-o" aria-hidden="true"></i>  Timer {{close.time}} Sec</button> 
																						<!-- <form >
										
																																				<div style="display: block"> 
																																		 
																					<input type="radio" name="radio1" id="{{forloop.counter}}1" value="option1"/>
																					<label id="{{forloop.counter}}1">
																						{{close.a}}
																					</label>
																					<div id="{{forloop.counter}}w1"style="display:none">
																					<img src="{% static "/c.png" %}" class="img-rounded"> 
																					</div>
																					<div id="{{forloop.counter}}r1"style="display:none">
																					<img src="{% static "/d.png" %}" class="img-rounded"> 
																					</div>
																					</div>
																				</form>-->
									
													
													<form  id="inside{{forloop.counter}}" class="radio radio-primary ">
													
													
													
													</form>
													
													
													<script> 
													var d='inside'+'{{forloop.counter}}'
var div = document.getElementById(d);
								split_res('{{close.a}}','{{close.b}}','{{close.c}}','{{close.d}}','{{close.e}}','{{close.f}}','{{close.g}}','{{close.h}}','{{close.i}}','{{close.j}}',{{close.loop}});
																																		
																																		
																																		
																																		 function split_res(a,b,c,d,e,f,g,h,i,j,lp){
																																		
																																		//div.innerHTML = div.innerHTML ;
																																				
																																				//var myarray = x.split('///');
																																				var myarray_a = a.split('///');
																																				var myarray_b = b.split('///');
																																				var myarray_c = c.split('///');
																																				var myarray_d = d.split('///');
																																				var myarray_e = e.split('///');
																																				if(f != ''){var myarray_f = f.split('///');}
																																				if(g != ''){var myarray_g = g.split('///');}
																																				if(h != ''){var myarray_h = h.split('///');}
																																				if(i !=''){var myarray_i = i.split('///');}
																																				
																																				if(j !=''){var myarray_j = j.split("///");}

																																							for(var i = 0; i <lp; i++)
																																							{
																																					
																																							//document.write(header);
																																							//var ap='myarray_'.concat(i.toString());
																																							if(i==0){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_a[j],j,i);}
																																							}else if(i==1){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_b[j],j,i);}
																																							}else if(i==2){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_c[j],j,i);}
																																							}else if(i==3){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_d[j],j,i);}
																																							}else if(i==4){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_e[j],j,i);}
																																							}else if(i==5){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_f[j],j,i);}
																																							}else if(i==6){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_g[j],j,i);}
																																							}else if(i==7){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_h[j],j,i);}
																																							}else if(i==8){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_i[j],j,i);}
																																							}else if(i==9){
																																							for(var j = 0; j < 5; j++)
																																							
																																							{wr(myarray_j[j],j,i);}
																																							}
																																							
	

																																							
																																							
																																								
																																							
																																							}
																																						
																																							
																																							 }
																																							 
																																							 
																																							 function wr(s,j,i){
																																							 var ss=s;
																																							 var jj=j;
																																							 
																																							 if(jj==0){
																																							 div.innerHTML = div.innerHTML + '<h4 style="text-align:left ;color:#F06292"><b><u>Options:</u></b></h4>'
																																						;
																																							 //document.write();	
																																							 }
																																							 
																																							 var idd='css'+(i.toString()).concat(j.toString());
																																							 var w=idd+'w';
																																							 var r=idd+'r';
																																							 var radio='radio'+idd;
																																							 var lebel='l'+idd;
																																							 var opt='opt'+i.toString();
																																							 
																																							 var option = 
																																				
																															'<div style="display: block;padding:1px">'+'<input type="radio" name="'+opt+'" id='+idd+' value="'+opt+'">'+
																																			'<label for="'+ idd +'" >'+
																																			ss+
																																			'</label>'+
																																			'<div id="'+w+'"style="display:none">'+
																																			'<img src="{% static "/c.png" %}" class="img-rounded"> '+
																																			'</div>'+
																																			'<div id="'+ r +'"style="display:none">'+
																																			'<img src="{% static "/d.png" %}" class="img-rounded"/> '+
																																			'</div>'+
																																			'</div>';
																																						//document.write(option);	 
																																						
																																						
																																						div.innerHTML = div.innerHTML + option;
																																							 
																																							 if(jj== 4){
																																							// alert(jj);
																																							 	//div.innerHTML = div.innerHTML +'</form>';
																																							//document.write('<hr></hr>');	
																																							
																																							 }
																																							 }

																																		
																																		</script>
																																		
																					<button 
																		id="closesol{{forloop.counter}}"onclick=
	"op('css{{forloop.counter}}1','css{{forloop.counter}}2','css{{forloop.counter}}3','css{{forloop.counter}}4','css{{forloop.counter}}5','{{close.ans}}',closesolution{{forloop.counter}},'res{{forloop.counter}}','csssol_upper{{forloop.counter}}','css',5)"
																							
																						style="text-align:center; color: #fff;background-color:#4D90FE;margin-right:0;float:left;display:inline-block;margin-top:16px" type="submit" class="btn  btn-sm"
																						
																						
																						> See Solutoins</button> 											
																																		
											</div><!-- pnel body end -->
											
											
											<div id="closesolution{{forloop.counter}}"style="text-align:center;display:none">
													 
															<p  id="csssol_upper{{forloop.counter}}"class="bg-info" style="text-align:center;"> <b>Your score<img src="{% static "/thh.png" %}" class="img-rounded" ></b> </p> 
															<p> <b>  Answer :</b></p> 
															<!-- <p class="bg-danger" style="display:inline"> Wrong
																					<img src="{% static "/c.png" %}" class="img-rounded" id="{{forloop.counter}}w"style="display:none"> 
																					
																					
																					<img src="{% static "/d.png" %}" class="img-rounded" id="{{forloop.counter}}r"style="display:none;"> 
																					 </p><br></br> -->
															
																		<div  style="font-family:'arial', sans-serif;font-size:17px;color:#000;display:inline;line-height: 1.42857;">
																	{% autoescape off %}	{{close.solution}} {% endautoescape %} </div>
																
																	
																		</div>
											
							
													
													
													
													
													
													
						
						</div><!-- pnel end -->
						{% endfor %}
						

													<!--end palel-->
													
													
													
													
													
													
													
													
													
																											
														<hr></hr>
												
													
													<!-- uuuuuuuuuuuuuuuuuuuuu-->
														
											

										
										
										
										
														
														
														
															

														
														<div class="row">
							
															<div class="col-md-2 ">
															 <ul class="pager">
															 {% if previous != 0 %}
																			<li ><a href="/ca/{{previous}}"><span class="glyphicon glyphicon-chevron-left"></span>Prev</a></li>
																{% else %}
																		 <li ><a href="#">Previous</a></li>
																				{% endif %}
																		  </ul>
															</div>
																
																<div class="col-md-8 " style="text-align:center">
																<ul class="pagination pagination-lg" >
																{% for pages in page %}
																	 {% if pages == params %}
												<li class="active"><a href="/ca/{{pages}}">{{pages}}</a></li>
												
												{% else %}
												<li><a href="/ca/{{pages}}">{{pages}}</a></li>
												{% endif %}
												
											{% endfor %}
											
												
												
											  </ul>
																</div>
																
																<div class="col-md-2 ">
																 <ul class="pager">
																 {% if next != 0  %}
																    <li ><a href="/ca/{{next}}">Next<span class="glyphicon glyphicon-chevron-right"></span></a></li>
																	
																	
																	{% else %}
																		 <li ><a href="#">Next</a></li>
																				{% endif %}
																		  </ul>
																</div>
														
														</div>
											
										
															<div id="disqus_thread"style="padding:5px"></div>
							<script>

							/**
							*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
							/*
							var disqus_config = function () {
							this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
							this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							*/
							(function() { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = 'https://getmyvideo-net.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
							})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>					
																	
																
						
						</div>
						
						<div class="col-md-2 nopadding">
						
								<div class="panel-group ">
								
								{% for job in job %}
									<div class="panel panel-info ">
										  <div class="panel-heading menu" style="text-align:center"><strong>{{job.heading}}</strong>
											<img src="/media/{{job.ca_img}}" class="img-thumbnail " width="150px" alt="Image">
										  </div>
										  <div class="panel-body">
												
												<ul style="text-align:Left ">
												
													<li><Strong>Start Date:{{job.first_day}}</strong></li>
													<li><Strong>Last Date:{{job.last_day}}</strong></li>
													
													
												
												</ul>
												
												<a href="/job/home/all/1/"style="text-align:center"><h5>Click for Details job<h5></a>
											
											
										  
										  
										  </div>
									</div><!-- if panel end -->
									{% endfor %}
									
									
									
						
								</div>



									
						</div>
						
				</div>

				</div>
				
				
			</div>	
				
				
	







<script id="dsq-count-scr" src="//getmyvideo-net.disqus.com/count.js" async></script>

	
					 

<script type="text/javascript" >
$(document).ready(function () {


$('.navbar .dropdown').hover(function () {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
    }, function () {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105);
    });




var showChar = 200;
	var ellipsestext = "...";
	var moretext = "Read more";
	var lesstext = "less";
	$('.more').each(function() {
		var content = $(this).html();

		if(content.length > showChar) {

			var c = content.substr(0, showChar);
			var h = content.substr(showChar-1, content.length - showChar);

			var html = c + '<span class="moreelipses">'+ellipsestext+'</span>&nbsp;&nbsp;&nbsp;<a href="" class="morelink"><u>'+moretext+'</u></a></span>';

			$(this).html(html);
		}

	});
	
	
	
	
	//..........................
	
	
		 $("#signup").submit(function (ev)
	 {
							
						
							//ev.preventDefault();
		$.ajax({
            type : 'POST',
            url: '{% url 'bank:login' %}',
			dataType: "json",
			async: true,
           data : {
											data1 : $(this).serialize(),
											csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
										  },
            success: function (response) 
			{
         
				// window.location = response.r;

            },
			 error: function (data) { $('#below').html("<b>please retry or check url</b>");
			 
			 }
        });

        
    });

	
	
	//.........................
	
		//..........................
	
	//.........................
	
	
	
	


});




		 $("#login").submit(function (ev)
	 {
							
			ev.preventDefault();			
							
		$.ajax({
            type : 'POST',
            url: '{% url 'bank:login' %}',
			
			
           data  : $(this).serialize(),
            success: function (response) 
			{
			var r=response;
				if(r == "true")
				{
				window.location = window.location;
				}
				else{
				$('#below').html("<b>"+response+"</b>");
				}

            },
			 error: function (data) { $('#below').html("<b>please 55 or check url</b>");
			
			 }
        });

        
    });
	
function add(id,username) {
var link_id=id;
var uname=username;
//$('#myModal').modal('toggle');

	$.ajax({
            type : 'POST',
            url: '{% url 'bank:add' %}',
			
			
           data: {link: link_id, user_name: uname,csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()},
            success: function (response) 
			{
			var r=response;
				if(r == "success")
				{
				document.getElementById(link_id).innerHTML ="added";
				}
				else{
				$('#below').html("<b>"+response+"</b>");
				document.getElementById("link_id").innerHTML = response;
				}

            },
			 error: function (data) { $('#link_id').html("<b>please 55 or check url</b>");
			
			 }
        });
    
}


	function timer(c_id,t,r1,r2,r3,r4,r5,a,i,counter,flag,loop){
	
	var colckdiv_id=c_id;
	alert(colckdiv_id);
	var colckdiv_id_hash='#'.concat(c_id.toString());
	var clock = document.getElementById(colckdiv_id);
	alert(clock);
	
	if(flag=='math'){var min='.mathminutes'.concat(counter.toString());
	alert(min);
	var sec='.mathseconds'.concat(counter.toString());
	var sec_id='#mathseconds'.concat(counter.toString());
	var min_id='#mathminutes'.concat(counter.toString());
	var smltext_id='#mathsmalltext'.concat(counter.toString());
var upper_sol='mathsol_upper'.concat(counter.toString());
  var minutesSpan = clock.querySelector(min);
  var secondsSpan = clock.querySelector(sec);
  var sol='mathsol'.concat(counter.toString());
var solution_hash='#mathsolution'.concat(counter.toString());

var timer_id='#mathtime'.concat(counter.toString());
			}else if(flag=='reasoning'){
			
			
			
			var min='.reasoningminutes'.concat(counter.toString());
	alert(min);
	var sec='.reasoningseconds'.concat(counter.toString());
	var sec_id='#reasoningseconds'.concat(counter.toString());
	var min_id='#reasoningminutes'.concat(counter.toString());
	var smltext_id='#reasoningsmalltext'.concat(counter.toString());
var upper_sol='reasoningsol_upper'.concat(counter.toString());
  var minutesSpan = clock.querySelector(min);
  var secondsSpan = clock.querySelector(sec);
  var sol='reasoningsol'.concat(counter.toString());
var solution_hash='#reasoningsolution'.concat(counter.toString());

var timer_id='#reasoningtime'.concat(counter.toString());
counter='res'+counter.toString();



			}else if(flag=='ress'){
			
			
			
			var min='.reasoningminutes'.concat(counter.toString());
	alert(min);
	var sec='.reasoningseconds'.concat(counter.toString());
	var sec_id='#reasoningseconds'.concat(counter.toString());
	var min_id='#reasoningminutes'.concat(counter.toString());
	var smltext_id='#reasoningsmalltext'.concat(counter.toString());
var upper_sol='resssol_upper'.concat(counter.toString());
  var minutesSpan = clock.querySelector(min);
  var secondsSpan = clock.querySelector(sec);
  var sol='reasoningsol'.concat(counter.toString());
var solution_hash='#reasoningsolution'.concat(counter.toString());

var timer_id='#reasoningtime'.concat(counter.toString());
counter='res'+counter.toString();



			}else if(flag=='css'){
			
			
			
			var min='.closeminutes'.concat(counter.toString());
	alert(min);
	var sec='.closeseconds'.concat(counter.toString());
	var sec_id='#closeseconds'.concat(counter.toString());
	var min_id='#closeminutes'.concat(counter.toString());
	var smltext_id='#closesmalltext'.concat(counter.toString());
var upper_sol='csssol_upper'.concat(counter.toString());
  var minutesSpan = clock.querySelector(min);
  var secondsSpan = clock.querySelector(sec);
  var sol='closesol'.concat(counter.toString());
var solution_hash='#closesolution'.concat(counter.toString());

var timer_id='#closetime'.concat(counter.toString());
counter='res'+counter.toString();



			}
	
	


//alert(timer_id);
  document.getElementById(sol).disabled = true;
  $(timer_id).toggle(500);
  $(colckdiv_id_hash).toggle(500);
var seconds_left = 80;
/*var interval = setInterval(function() {
    document.getElementById('seconds').innerHTML = --seconds_left;

    if (seconds_left <= 0)
    {
       document.getElementById('seconds').innerHTML = "You are Ready!";
       clearInterval(interval);
    }
}, 1000); */

//new timer
var fiveMinutes = t,
        display = $(sec_id),
		smalltext=$(smltext_id);
		if($(solution_hash).is(':visible'))
{
$(solution_hash).toggle(500);
}
startTimer(fiveMinutes,display,smalltext,colckdiv_id_hash,timer_id,sol,solution_hash,r1,r2,r3,r4,r5,a,i,counter,upper_sol,flag,loop);



	
	}
	
	
	function startTimer(duration, display,smalltext,colckdiv_id_hash,timer_id,sol,solution_hash,r1,r2,r3,r4,r5,a,i,counter,upper_sol,flag,loop) {
    var timer = duration, minutes, seconds;
	 
  var s=  setInterval(function () {
	var seconds_left = --duration;
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
				if(minutes<1){
        display.text(minutes + ":" + seconds);
		smalltext.text("seconds")
        }
        else{display.text(minutes + ":" + seconds);
		smalltext.text("Minutes")
		}
		
		if(seconds_left<=-1){clearInterval(s);
		
								op(r1,r2,r3,r4,r5,a,i,counter,upper_sol,flag,loop);
								$(timer_id).toggle(500);
								$(colckdiv_id_hash).toggle(500);
								
								//$(solution_hash).toggle(500);
								document.getElementById(sol).disabled = false; 
									}
		

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);}
	
	
	
	function op(r1,r2,r3,r4,r5,a,i,counter,upper_sol,flag,loop){
	var radio1 = r1;
	var radio2=r2;
	 var radio3=r3;
	var radio4=r4;
	var radio5=r5;
	var ans=a;
	var id=i;
	
	var count=counter;
	var chk=count.toString().concat(ans.toString());
	var r8=count.toString();
	var right=r8.concat('r');
	
	
	if(flag == 'reasoning' ){
	
if(document.getElementById(radio1).checked || document.getElementById(radio2).checked || document.getElementById(radio3).checked || document.getElementById(radio4).checked || document.getElementById(radio5).checked ) {
alert(chk);

				if(document.getElementById(chk).checked){
				var right_img= right.concat(chk.slice(-1)) ;
				//alert(right_img);
				var x = document.getElementById(right_img);
				

				//x.innerHTML="<img src=\"http://placehold.it/350x350\" width=\"400px\" height=\"150px\">";
				var y = document.getElementById(upper_sol);
				y.innerHTML="<b>Correct<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >"
				x.style.display = 'inline';
				
				//$(x).toggle(500); 
				//var y = document.getElementById(right);
				//y.style.display = 'inline';
				}else if(document.getElementById(radio1).checked) {
				var wrong_img= count.toString().concat('w'.concat('radio1'.slice(-1))) ;
				var x = document.getElementById(wrong_img);
				var y = document.getElementById(upper_sol);
				y.innerHTML="<b>InCorrect<img src=\"{% static "/c.png" %}\" class=\"img-rounded\" >"
				x.style.display = 'inline';
				
				}else if(document.getElementById(radio2).checked) {
				var wrong_img= count.toString().concat('w'.concat('radio2'.slice(-1))) ;
				var x = document.getElementById(wrong_img);
				var y = document.getElementById(upper_sol);
				y.innerHTML="<b>InCorrect<img src=\"{% static "/c.png" %}\" class=\"img-rounded\" >"
				x.style.display = 'inline';
				
				}else if(document.getElementById(radio3).checked) {
				var wrong_img= count.toString().concat('w'.concat('radio3'.slice(-1))) ;
				var x = document.getElementById(wrong_img);
				var y = document.getElementById(upper_sol);
				y.innerHTML="<b>InCorrect<img src=\"{% static "/c.png" %}\" class=\"img-rounded\" >"
				x.style.display = 'inline';
				
				}else if(document.getElementById(radio4).checked) {
				var wrong_img= count.toString().concat('w'.concat('radio4'.slice(-1))) ;
				var x = document.getElementById(wrong_img);
				var y = document.getElementById(upper_sol);
				y.innerHTML="<b>InCorrect<img src=\"{% static "/c.png" %}\" class=\"img-rounded\" >"
				x.style.display = 'inline';
				
				}else if(document.getElementById(radio5).checked) {
				var wrong_img= count.toString().concat('w'.concat('radio5'.slice(-1))) ;
				var x = document.getElementById(wrong_img);
				var y = document.getElementById(upper_sol);
				y.innerHTML="<b>InCorrect<img src=\"{% static "/c.png" %}\" class=\"img-rounded\" >"
				x.style.display = 'inline';
				
				}
			
					
		}
					
					
				else  {

				///$(upper_sol).html("Hello World");
				var x = document.getElementById(upper_sol);
				x.style.fontWeight  = 'bold';
				x.innerHTML="Not Attempted";
						
						}
						
						
}else{var score=0;
			var attempt=0;
			if(flag== 'ress'){
			}
			else if (flag=='css'){
			
			}

var array = ans.split('///');
var max=array.length;
//alert(flag);
		for(i=0;i< array.length; i++){
			
			
			
			radio1=flag+i.toString()+'0';
			radio2=flag+i.toString()+'1';
			radio3=flag+i.toString()+'2';
			radio4=flag+i.toString()+'3';
			radio5=flag+i.toString()+'4';
			
			//alert(radio1+" "+radio2+''+radio3);
			chk=flag+i.toString()+ (parseInt(array[i])-1).toString();
			//alert("chk="+chk);
			if(document.getElementById(radio1).checked || document.getElementById(radio2).checked || document.getElementById(radio3).checked || document.getElementById(radio4).checked || document.getElementById(radio5).checked ) {

				attempt=1;

				if(document.getElementById(chk).checked){
				score=score+1;
				var right_img= chk+'r' ;
				//alert(right_img);
				var x = document.getElementById(right_img);
				

				//x.innerHTML="<img src=\"http://placehold.it/350x350\" width=\"400px\" height=\"150px\">";
				var y = document.getElementById(upper_sol);
				y.innerHTML='<b style=\"font-size:18px;\">Your Score: &nbsp;&nbsp;  '+score.toString()+'/'+max.toString()+'&nbsp;&nbsp;<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >'
				x.style.display = 'inline';
				
				//$(x).toggle(500); 
				//var y = document.getElementById(right);
				//y.style.display = 'inline';
				}else if(document.getElementById(radio1).checked) {
				var wrong_img= flag+i.toString().concat(('radio0'.slice(-1)))+'w' ;
				var x = document.getElementById(wrong_img);
				
				x.style.display = 'inline';
				var y = document.getElementById(upper_sol);
				y.innerHTML='<b style=\"font-size:18px;\">Your Score: &nbsp;&nbsp;  '+score.toString()+'/'+max.toString()+'&nbsp;&nbsp;<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >'
				
				}else if(document.getElementById(radio2).checked) {
				var wrong_img= flag+i.toString().concat(('radio1'.slice(-1)))+'w' ;
				var x = document.getElementById(wrong_img);
				
				x.style.display = 'inline';
				var y = document.getElementById(upper_sol);
				y.innerHTML='<b style=\"font-size:18px;\">Your Score: &nbsp;&nbsp;  '+score.toString()+'/'+max.toString()+'&nbsp;&nbsp;<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >'
				
				}else if(document.getElementById(radio3).checked) {
				var wrong_img= flag+i.toString().concat(('radio2'.slice(-1)))+'w' ;
				var x = document.getElementById(wrong_img);
				
				x.style.display = 'inline';
				var y = document.getElementById(upper_sol);
				y.innerHTML='<b style=\"font-size:18px;\">Your Score: &nbsp;&nbsp;  '+score.toString()+'/'+max.toString()+'&nbsp;&nbsp;<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >'
				
				}else if(document.getElementById(radio4).checked) {
				var wrong_img= flag+i.toString().concat(('radio3'.slice(-1)))+'w' ;
				var x = document.getElementById(wrong_img);
				
				x.style.display = 'inline';
				var y = document.getElementById(upper_sol);
				y.innerHTML='<b style=\"font-size:18px;\">Your Score: &nbsp;&nbsp;  '+score.toString()+'/'+max.toString()+'&nbsp;&nbsp;<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >'
				
				}else if(document.getElementById(radio5).checked) {
				var wrong_img= flag+i.toString().concat(('radio4'.slice(-1)))+'w' ;
				var x = document.getElementById(wrong_img);
				
				x.style.display = 'inline';
				var y = document.getElementById(upper_sol);
				y.innerHTML='<b style=\"font-size:18px;\">Your Score: &nbsp;&nbsp;  '+score.toString()+'/'+max.toString()+'&nbsp;&nbsp;<img src=\"{% static "/thh.png" %}\" class=\"img-rounded\" >'
				
				}
			
					
		}
					
					
				else  {

				///$(upper_sol).html("Hello World");
				if(attempt==0){
				var x = document.getElementById(upper_sol);
				x.style.fontWeight  = 'bold';
				x.innerHTML="<b>Not Attempted</b>"; }
						
						}
			


					}//for end

	}						
						
						
						
	$(id).toggle(500);
	
	}


</script>

</body>
</html>
