.footer-bottom {
    background-color: #15224f;
    min-height: 20px;
    width: 100%;
	
	
	


  text-shadow: 0 1px 0 #84BAFF;
    
  


}
.copyright {
    color: #fff;
    line-height: 25px;
    min-height: 25px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 25px;
    min-height: 25px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
