{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools %}
  {% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      <li><a href="{% url 'admin:mocktest_modify' original.id %}">Modify / Review Questions</a></li>
      <li><a href="{% url 'admin:mocktest_distribute' original.id %}">Distribute Questions</a></li>
      {{ block.super }}
    {% endblock %}
  </ul>
  {% endif %}{% endif %}
{% endblock %}

{% block submit_buttons_top %}{{ block.super }}{% endblock %}
{% block submit_buttons_bottom %}{{ block.super }}{% endblock %}
